.section {
  padding: 3rem 12.5% 7.5rem;
}

.link {
  width: 100%;
  display: block;
  padding: 1.25rem;
  padding-left: 0;
  border-bottom: 1px solid black;
  margin-bottom: 1rem;

  span {
    font-family: "Bradford LL";
    font-size: 3.25rem;
    text-align: center;
    line-height: 1.15;
    letter-spacing: -3%;
  }
}
