.section {
  padding: 2rem 1.5rem 4rem;

  @media (min-width: 992px) {
    padding: 3rem 12.5% 7.5rem;
  }
}

.link {
  width: 100%;
  display: block;
  padding: 1.25rem;
  padding-left: 0;
  border-bottom: 1px solid black;
  margin-bottom: 1rem;

  @media (min-width: 992px) {
    padding: 1.25rem;
    margin-bottom: 1rem;
  }

  span {
    font-family: "Bradford LL";
    font-size: clamp(2rem, 6vw, 3.25rem);
    text-align: center;
    line-height: 1.15;
    letter-spacing: -3%;
  }
}
