.mainText {
  width: calc(100% - 3rem);
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: 992px) {
    width: 60%;
    position: relative;
    top: -5vh;
  }

  svg {
    fill: black;
    height: clamp(2rem, 5.5vw, 4.5rem);
    margin: 0 auto clamp(1rem, 1.5vw, 2rem);
    // display: none;

    @media (min-width: 992px) {
      display: block;
      height: clamp(3rem, 10vmin, 4.5rem);
    }
  }

  h1 {
    font-family: "Bradford LL";
    font-size: clamp(1.875rem, 6vmin, 3.25rem);
    text-align: center;
    line-height: 1.15;
    letter-spacing: -3%;
    max-width: 32ch;
    z-index: 1;
  }

  a {
    font-family: "Bradford LL";
    display: inline-block;
    position: relative;
    z-index: 3;
    background: white;

    &::before {
      content: "";
      position: absolute;
      bottom: 0.05em;
      left: 0;
      width: 100%;
      height: 2px;
      background: white;
      mix-blend-mode: difference;
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -1.5em;
      margin-top: -1.25em;
      width: 3em;
      height: 3em;
      background: url("/img/shirin_neshat.png");
      background-size: cover;
      background-position: center;
      z-index: -1;
      // clip-path: inset(100% 0 0 0);
      opacity: 0;
      transition: clip-path 0.35s cubic-bezier(0.075, 0.82, 0.165, 1),
        transform 0.35s cubic-bezier(0.165, 0.84, 0.44, 1),
        opacity 0.25s ease-in-out;
      transform: translateY(50px) rotate(10deg);

      @media (prefers-reduced-motion) {
        display: none;
      }
    }

    span {
      color: white;
      mix-blend-mode: difference;
    }

    &:hover {
      &:after {
        // clip-path: inset(0 0 0 0);
        transform: translate(0) rotate(0deg);
        opacity: 1;
      }
    }
  }
}

.section {
  width: 100%;
  min-height: 400px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  @media (min-width: 992px) {
    min-height: 450px;
  }
}

.cta {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    font-size: clamp(0.875rem, 3vmin, 1.375rem);
    line-height: 1.3;
    letter-spacing: -3%;
    text-transform: uppercase;
    font-family: "UniversalSans";
    font-weight: 600;
    margin-bottom: clamp(0.25rem, 0.5em, 1rem);
  }

  p {
    text-transform: uppercase;
    font-family: "UniversalSans";
    font-weight: 300;
    text-align: center;
    margin-bottom: clamp(1rem, 3vh, 2.5rem);
    font-size: clamp(0.875rem, 2vmin, 1rem);
  }

  a,
  button {
    margin-bottom: 2.5rem;
    position: relative;
    overflow: hidden;

    svg {
      height: clamp(2.5rem, 1.5vw, 3.8125rem);
      width: clamp(2.5rem, 1.5vw, 3.8125rem);
      fill: none;
      stroke: black;
      stroke-width: 2px;
      animation: arrowLoop 1.25s infinite cubic-bezier(0.165, 0.84, 0.44, 1);

      &:last-child {
        position: absolute;
        top: 3%;
        left: 12%;
        transform: translateY(-130%);
        animation: arrowLoop2 1.25s infinite cubic-bezier(0.165, 0.84, 0.44, 1);
      }
    }

    @keyframes arrowLoop {
      0% {
        transform: translateY(0);
      }

      70% {
        transform: translateY(130%);
      }

      100% {
        transform: translateY(130%);
      }
    }

    @keyframes arrowLoop2 {
      0% {
        transform: translateY(-130%);
      }

      70% {
        transform: translateY(0%);
      }

      100% {
        transform: translateY(0%);
      }
    }
  }
}
