/* Adding typefaces */

@font-face {
  font-family: "UniversalSans";
  src: url("/fonts/UniversalSans-300Italic.woff2") format("woff2"),
    url("/fonts/UniversalSans-300Italic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "UniversalSans";
  src: url("/fonts/UniversalSans-300.woff2") format("woff2"),
    url("/fonts/UniversalSans-300.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "UniversalSans";
  src: url("/fonts/UniversalSans-400Italic.woff2") format("woff2"),
    url("/fonts/UniversalSans-400Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "UniversalSans";
  src: url("/fonts/UniversalSans-400.woff2") format("woff2"),
    url("/fonts/UniversalSans-400.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "UniversalSans";
  src: url("/fonts/UniversalSans-500.woff2") format("woff2"),
    url("/fonts/UniversalSans-500.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "UniversalSans";
  src: url("/fonts/UniversalSans-500Italic.woff2") format("woff2"),
    url("/fonts/UniversalSans-500Italic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "UniversalSans";
  src: url("/fonts/UniversalSans-679Italic.woff2") format("woff2"),
    url("/fonts/UniversalSans-679Italic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "UniversalSans";
  src: url("/fonts/UniversalSans-679.woff2") format("woff2"),
    url("/fonts/UniversalSans-679.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "UniversalSans-900";
  src: url("/fonts/UniversalSans-900.woff2") format("woff2"),
    url("/fonts/UniversalSans-900.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "UniversalSans";
  src: url("/fonts/UniversalSans-900Italic.woff2") format("woff2"),
    url("/fonts/UniversalSans-900Italic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Office Code Pro";
  src: url("/fonts/OfficeCodePro-LightItalic.woff2") format("woff2"),
    url("/fonts/OfficeCodePro-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Office Code Pro";
  src: url("/fonts/OfficeCodePro-Light.woff2") format("woff2"),
    url("/fonts/OfficeCodePro-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Office Code Pro";
  src: url("/fonts/OfficeCodePro-BoldItalic.woff2") format("woff2"),
    url("/fonts/OfficeCodePro-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Office Code Pro";
  src: url("/fonts/OfficeCodePro-Bold.woff2") format("woff2"),
    url("/fonts/OfficeCodePro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bradford LL";
  src: url("/fonts/BradfordLL-Light.woff2") format("woff2"),
    url("/fonts/BradfordLL-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bradford LL";
  src: url("/fonts/BradfordLL-LightItalic.woff2") format("woff2"),
    url("/fonts/BradfordLL-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
button {
  border: 0;
  background: none;
}

* {
  box-sizing: border-box;
  font-family: "UniversalSans";
}

a {
  text-decoration: none;
  color: black;
  font-family: "UniversalSans";
}

a,
button {
  cursor: pointer;
}

p {
  font-family: "UniversalSans";
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "BradfordLL-Light";
}

body,
html {
  // scroll-behavior: smooth;
}

.h1 {
  font-size: 4rem;
  font-weight: 300;

  @media (min-width: 992px) {
    font-size: 9.375rem;
  }
  letter-spacing: -3%;

  i {
    font-style: italic;
    font-weight: 300;
  }
}

.largeParagraph {
  font-family: "UniversalSans";
  font-weight: 500;
  font-size: 0.9375rem;
  line-height: 1.4;
  letter-spacing: -1%;

  @media (min-width: 992px) {
    font-size: 1.125rem;
  }
}
